body {
    padding: 20px;
}

select {
    margin-bottom: 20px;
}

.answer {
    color: red;
    font-weight: bold;
}

.block {
    margin-bottom: 1rem;
}

.block.speak{
    border: 3px solid red;
    border-radius: 6px;
}