body {
    padding: 20px;
}

.btn.btn-block {
    display: block;
    width: 100%;
}

.btn.btn-primary.btn-lg.btn-block {
    margin-bottom: 20px;
}

.buttonBlock {
    position: fixed;
    width: calc(100% - 40px);
    top: calc(30% - 68px);
    left: calc(0% + 20px);
}