body {
    padding: 20px;
}

select,
.input-group,
.btn.btn-block,
#content {
    margin-bottom: 20px;
}

.btn.btn-block {
    display: block;
    width: 100%;
}

#next,
#finish {
    display: none;
}

input.form-check-input {
    width: 2em;
    height: 2em;
}

div.form-check {
    padding: 0.5rem 2.5rem;
}

.form-check .form-check-input {
    margin-left: -2.5rem;
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    opacity: 1;
}

.answer {
    color: red;
    font-weight: bold;
}

.block {
    margin-bottom: 1rem;
}

.block.speak {
    border: 3px solid red;
    border-radius: 6px;
}

#speakControl {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}