body {
    background-color: #d7dbfa;
    position: relative;
    height: 1080px;
    overflow: hidden;
}

video {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 2%;
}

.picture {
    width: 60%;
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: -1;
    display: none;
}

.picture img {
    width: 100%;
}

.month {
    display: block;
    width: fit-content;
    background-color: #d7f5facc;
    position: absolute;
    right: 2%;
    top: 10%;
    border-radius: 1rem;
}

.month p{
    display: inline-block;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: '微軟正黑體';
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.month p.current{
    background-color: #4caf4f63;
}

.day {
    position: relative;
    display: block;
    width: fit-content;
    background-color: #d7f5facc;
    position: absolute;
    right: 2%;
    bottom: 8%;
    border-radius: 1rem;
}

.day p{
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: '微軟正黑體';
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.day .week .holiday{
    color: brown;
}

.day .week{
    position: absolute;
    background-color: #4caf4f63;
    border-radius: 1rem;
    top: -4rem;
    left: 0;
}

.time {
    font-family: '微軟正黑體';
    font-size: 5rem;
    display: block;
    width: fit-content;
    right: 2%;
    position: absolute;
    top: 28%;
    background-color: #d7f5facc;
    padding: 2.5rem;
    border-radius: 1rem;
}