body {
    background-color: #d7dbfa;
    position: relative;
}

.mainImage {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
}

.month p, .day p{
    display: inline-block;
    margin: 0.5rem;
    width: 2.6rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: '微軟正黑體';
}

.month {

}

.day {
    
}