body {
    background-color: #d7dbfa;
    position: relative;
    height: 980px;
    overflow: hidden;
}

.mainImage {
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.month p, .day p{
    display: inline-block;
    margin: 0.5rem;
    width: 2.6rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: '微軟正黑體';
}

.month {
    display: block;
    width: fit-content;
    background-color: #d7f5facc;
    position: absolute;
    right: 2%;
    top: 10%;
}

.day {
    display: block;
    width: fit-content;
    background-color: #d7f5facc;
    position: absolute;
    right: 2%;
    bottom: 10%;
}